# –í—ã–ø—É—Å–∫–Ω–æ–π –ø—Ä–æ–µ–∫—Ç –ø–æ –∫—É—Ä—Å—É –ê–Ω–∞–ª–∏—Ç–∏–∫ –¥–∞–Ω–Ω—ã—Ö

# –ó–∞–¥–∞–Ω–∏–µ –ø–æ SQL

# –ü–æ–¥–≥–æ—Ç–æ–≤–∏—Ç–µ–ª—å–Ω—ã–µ –¥–µ–π—Å—Ç–≤–∏—è

In [1]:
# –∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏
from IPython.display import display
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã
db_config = {'user': '–∑–¥–µ—Å—å –±—ã–ª –ª–æ–≥–∏–Ω', # –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
'pwd': '–∑–¥–µ—Å—å –±—ã–ª –ø–∞—Ä–æ–ª—å', # –ø–∞—Ä–æ–ª—å
'host': '–∑–¥–µ—Å—å –±—ã–ª —Ö–æ—Å—Ç',
'port': –∑–¥–µ—Å—å –±—ã–ª –ø–æ—Ä—Ç, # –ø–æ—Ä—Ç –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
'db': '–∑–¥–µ—Å—å –±—ã–ª–æ –Ω–∞–∑–≤–∞–Ω–∏–µ –ë–î'} # –Ω–∞–∑–≤–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
db_config['pwd'],
db_config['host'],
db_config['port'],
db_config['db'])

In [3]:
# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä
engine = create_engine(connection_string, connect_args={'sslmode':'require'})

# –¶–µ–ª–∏ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è

- –ü–æ—Å—á–∏—Ç–∞—Ç—å, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞;
- –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞—Ç—å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É;
- –û–ø—Ä–µ–¥–µ–ª–∏—Ç—å –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü (—Ç–∞–∫ –º—ã –∏—Å–∫–ª—é—á–∏–º –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã);
- –û–ø—Ä–µ–¥–µ–ª–∏—Ç—å –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ (—É—á–∏—Ç—ã–≤–∞—Ç—å —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏);
- –ü–æ—Å—á–∏—Ç–∞—Ç—å —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫.

## –ò—Å—Å–ª–µ–¥—É–µ–º —Ç–∞–±–ª–∏—Ü—ã

–î–ª—è –∫–∞–∂–¥–æ–π —Ç–∞–±–ª–∏—Ü—ã –≤—ã–≤–µ–¥–µ–º –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫:

### –¢–∞–±–ª–∏—Ü–∞ `books`

In [4]:
# —Å–æ–∑–¥–∞—ë–º –∑–∞–ø—Ä–æ—Å
query = '''
SELECT *
FROM books
LIMIT 5;
'''

In [5]:
# –ø–æ–ª—É—á–∞–µ–º –¥–∞–Ω–Ω—ã–µ –Ω–∞ –æ—Å–Ω–æ–≤–∞–Ω–∏–∏ –∑–∞–ø—Ä–æ—Å–∞
data = pd.io.sql.read_sql(query, con = engine)

In [6]:
# –≤—ã–≤–æ–¥–∏–º –Ω–∞ —ç–∫—Ä–∞–Ω
display(data)

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

–û—Å–Ω–æ–≤–Ω–∞—è —Ç–∞–±–ª–∏—Ü–∞. –°–æ–¥–µ—Ä–∂–∏—Ç –≤—Å–µ –æ—Å–Ω–æ–≤–Ω—ã–µ —Å–≤–µ–¥–µ–Ω–∏—è –æ –∫–Ω–∏–≥–µ - –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏, –Ω–∞–∑–≤–∞–Ω–∏–µ, –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü, –¥–∞—Ç—É –ø—É–±–ª–∏–∫–∞—Ü–∏–∏, –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä—ã –∞–≤—Ç–æ—Ä–∞ –∏ –∏–∑–¥–∞—Ç–µ–ª—è

### –¢–∞–±–ª–∏—Ü–∞ `authors`

In [7]:
# —Å–æ–∑–¥–∞—ë–º –∑–∞–ø—Ä–æ—Å
query = '''
SELECT *
FROM authors
LIMIT 5;
'''

In [8]:
# –ø–æ–ª—É—á–∞–µ–º –¥–∞–Ω–Ω—ã–µ –Ω–∞ –æ—Å–Ω–æ–≤–∞–Ω–∏–∏ –∑–∞–ø—Ä–æ—Å–∞
data = pd.io.sql.read_sql(query, con = engine)

In [9]:
# –≤—ã–≤–æ–¥–∏–º –Ω–∞ —ç–∫—Ä–∞–Ω
display(data)

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd

–¢–∞–±–ª–∏—Ü–∞ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö - —Å–æ–¥–µ—Ä–∂–∏—Ç –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞ –∏ –µ–≥–æ –§–ò–û

### –¢–∞–±–ª–∏—Ü–∞ `ratings`

In [10]:
# —Å–æ–∑–¥–∞—ë–º –∑–∞–ø—Ä–æ—Å
query = '''
SELECT *
FROM ratings
LIMIT 5;
'''

In [11]:
# –ø–æ–ª—É—á–∞–µ–º –¥–∞–Ω–Ω—ã–µ –Ω–∞ –æ—Å–Ω–æ–≤–∞–Ω–∏–∏ –∑–∞–ø—Ä–æ—Å–∞
data = pd.io.sql.read_sql(query, con = engine)

In [12]:
# –≤—ã–≤–æ–¥–∏–º –Ω–∞ —ç–∫—Ä–∞–Ω
display(data)

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

–¢–∞–±–ª–∏—Ü–∞ —Å –æ—Ü–µ–Ω–∫–∞–º–∏ —á–∏—Ç–∞—Ç–µ–ª–µ–π, —Å–æ–¥–µ—Ä–∂–∏—Ç –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏, –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏, –æ—Ü–µ–Ω–∫—É –∏ –Ω–∏–∫–Ω–µ–π–º —á–∏—Ç–∞—Ç–µ–ª—è

### –¢–∞–±–ª–∏—Ü–∞ `reviews`

In [13]:
# —Å–æ–∑–¥–∞—ë–º –∑–∞–ø—Ä–æ—Å
query = '''
SELECT *
FROM reviews
LIMIT 5;
'''

In [14]:
# –ø–æ–ª—É—á–∞–µ–º –¥–∞–Ω–Ω—ã–µ –Ω–∞ –æ—Å–Ω–æ–≤–∞–Ω–∏–∏ –∑–∞–ø—Ä–æ—Å–∞
data = pd.io.sql.read_sql(query, con = engine)

In [15]:
# –≤—ã–≤–æ–¥–∏–º –Ω–∞ —ç–∫—Ä–∞–Ω
display(data)

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...

–¢–∞–±–ª–∏—Ü–∞ —Å–æ —Å–≤–µ–¥–µ–Ω–∏—è–º–∏ –æ–± –æ–±–∑–æ—Ä–∞—Ö –Ω–∞ –∫–Ω–∏–≥–∏. –°–æ–¥–µ—Ä–∂–∏—Ç –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏, –Ω–∏–∫–Ω–µ–π–º –æ–±–æ–∑—Ä–µ–≤–∞—Ç–µ–ª—è, –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞ –∏ —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞

### –¢–∞–±–ª–∏—Ü–∞ `publishers`

In [16]:
# —Å–æ–∑–¥–∞—ë–º –∑–∞–ø—Ä–æ—Å
query = '''
SELECT *
FROM publishers
LIMIT 5;
'''

In [17]:
# –ø–æ–ª—É—á–∞–µ–º –¥–∞–Ω–Ω—ã–µ –Ω–∞ –æ—Å–Ω–æ–≤–∞–Ω–∏–∏ –∑–∞–ø—Ä–æ—Å–∞
data = pd.io.sql.read_sql(query, con = engine)

In [18]:
# –≤—ã–≤–æ–¥–∏–º –Ω–∞ —ç–∫—Ä–∞–Ω
display(data)

   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company

–¢–∞–±–ª–∏—Ü–∞ —Å–æ —Å–≤–µ–¥–µ–Ω–∏—è–º–∏ –æ–± –∏–∑–¥–∞—Ç–µ–ª—è—Ö. –°–æ–¥–µ—Ä–∂–∏—Ç –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è –∏ –µ–≥–æ –Ω–∞–∑–≤–∞–Ω–∏–µ

–ò–∑—É—á–µ–Ω–∏–µ –±–∞–∑ –∑–∞–∫–æ–Ω—á–∏–ª–∏, –º–æ–∂–Ω–æ –ø—Ä–∏—Å—Ç—É–ø–∞—Ç—å –∫ —Ä–µ—à–µ–Ω–∏—é –∑–∞–¥–∞—á

## –†–µ—à–∏–º –ø–æ—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã–µ –∑–∞–¥–∞—á–∏

### –ü–æ—Å—á–∏—Ç–∞–µ–º, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞

In [19]:
# —Å–æ–∑–¥–∞—ë–º –∑–∞–ø—Ä–æ—Å
query = '''
SELECT
    COUNT(book_id)
FROM books
WHERE publication_date::DATE > '2000-01-01';
'''

In [20]:
# –ø–æ–ª—É—á–∞–µ–º –¥–∞–Ω–Ω—ã–µ –Ω–∞ –æ—Å–Ω–æ–≤–∞–Ω–∏–∏ –∑–∞–ø—Ä–æ—Å–∞
data = pd.io.sql.read_sql(query, con = engine)

In [21]:
# –≤—ã–≤–æ–¥–∏–º –Ω–∞ —ç–∫—Ä–∞–Ω
display(data)

   count
0    819

**–í—ã–≤–æ–¥**

–ü–æ—Å–ª–µ 01.01.2000 –≥–æ–¥–∞ –≤—ã—à–ª–æ 819 –∫–Ω–∏–≥

### –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É

In [22]:
# —Å–æ–∑–¥–∞—ë–º –∑–∞–ø—Ä–æ—Å
query = '''
SELECT
    b.title,
    (
        SELECT
            COUNT(review_id) AS review_count
        FROM reviews
        WHERE book_id = b.book_id
    ),
    (
        SELECT
            AVG(rating)
        FROM ratings
        WHERE book_id = b.book_id
    ) AS avg_rating
FROM books b, reviews r
GROUP BY b.book_id
order by review_count desc;
'''

In [23]:
# –ø–æ–ª—É—á–∞–µ–º –¥–∞–Ω–Ω—ã–µ –Ω–∞ –æ—Å–Ω–æ–≤–∞–Ω–∏–∏ –∑–∞–ø—Ä–æ—Å–∞
data = pd.io.sql.read_sql(query, con = engine)

In [24]:
# –≤—ã–≤–æ–¥–∏–º –Ω–∞ —ç–∫—Ä–∞–Ω
display(data)

,title,review_count,avg_rating
0,Twilight (Twilight #1),7,3.662500
1,Water for Elephants,6,3.977273
2,The Glass Castle,6,4.206897
3,Harry Potter and the Prisoner of Azkaban (Harr...,6,4.414634
4,The Curious Incident of the Dog in the Night-Time,6,4.081081
...,...,...,...
995,Anne Rice's The Vampire Lestat: A Graphic Novel,0,3.666667
996,The Natural Way to Draw,0,3.000000
997,The Cat in the Hat and Other Dr. Seuss Favorites,0,5.000000
998,Essential Tales and Poems,0,4.000000
999,Disney's Beauty and the Beast (A Little Golden...,0,4.000000

**–í—ã–≤–æ–¥**

–î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–Ω–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥

### –û–ø—Ä–µ–¥–µ–ª–∏–º –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü

In [25]:
# —Å–æ–∑–¥–∞—ë–º –∑–∞–ø—Ä–æ—Å
query = '''
SELECT
    publishers.publisher,
    COUNT(book_id)
FROM books INNER JOIN publishers ON books.publisher_id = publishers.publisher_id
WHERE books.num_pages > 50
GROUP BY publishers.publisher
ORDER BY count DESC
LIMIT 1;
'''

In [26]:
# –ø–æ–ª—É—á–∞–µ–º –¥–∞–Ω–Ω—ã–µ –Ω–∞ –æ—Å–Ω–æ–≤–∞–Ω–∏–∏ –∑–∞–ø—Ä–æ—Å–∞
data = pd.io.sql.read_sql(query, con = engine)

In [27]:
# –≤—ã–≤–æ–¥–∏–º –Ω–∞ —ç–∫—Ä–∞–Ω
display(data)

       publisher  count
0  Penguin Books     42

**–í—ã–≤–æ–¥**

–°–∞–º–æ–µ –ø—Ä–æ–¥—É–∫—Ç–∏–≤–Ω–æ–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ - `Penguin Books`, –æ–Ω–æ –≤—ã–ø—É—Å—Ç–∏–ª–æ 42 –∫–Ω–∏–≥–∏ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä.

### –û–ø—Ä–µ–¥–µ–ª–∏–º –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ (—É—á–∏—Ç—ã–≤–∞–µ–º —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏)

In [28]:
# —Å–æ–∑–¥–∞—ë–º –∑–∞–ø—Ä–æ—Å
query = '''
SELECT
    author,
    AVG(subq.rating) AS avg_rating
FROM (
    SELECT
        author,
        title,
        AVG(rating) AS rating
    FROM (
        SELECT *
        FROM books
        WHERE book_id IN (
            SELECT book_id
            FROM ratings
            GROUP BY book_id
            HAVING COUNT(rating) >= 50
        ) 
    ) AS rated_books
    INNER JOIN authors ON rated_books.author_id = authors.author_id
    INNER JOIN ratings ON rated_books.book_id = ratings.book_id
    GROUP BY author, title
    ORDER BY author
) AS subq
GROUP BY author
ORDER BY avg_rating DESC
LIMIT 1
'''

In [29]:
# –ø–æ–ª—É—á–∞–µ–º –¥–∞–Ω–Ω—ã–µ –Ω–∞ –æ—Å–Ω–æ–≤–∞–Ω–∏–∏ –∑–∞–ø—Ä–æ—Å–∞
data = pd.io.sql.read_sql(query, con = engine)

In [30]:
# –≤—ã–≤–æ–¥–∏–º –Ω–∞ —ç–∫—Ä–∞–Ω
display(data)

                       author  avg_rating
0  J.K. Rowling/Mary GrandPr√©    4.283844

**–í—ã–≤–æ–¥**

–î—É—ç—Ç –ø–∏—Å–∞—Ç–µ–ª—å–Ω–∏—Ü—ã –î–∂–æ–∞–Ω–Ω—ã –†–æ—É–ª–∏–Ω–≥ –∏ –∏–ª–ª—é—Å—Ç—Ä–∞—Ç–æ—Ä–∞ –ú—ç—Ä–∏ –ì—Ä–∞–Ω–ø—Ä—ç –∏–º–µ–µ—Ç –Ω–∞–∏–≤—ã—Å—à–∏–π —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –Ω–∞–ø–∏—Å–∞–Ω–Ω—ã—Ö –∫–Ω–∏–≥ (4.28) —Å—Ä–µ–¥–∏ –∫–Ω–∏–≥, –∏–º–µ—é—â–∏—Ö 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–æ–∫

### –ü–æ—Å—á–∏—Ç–∞–µ–º —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫

In [31]:
# —Å–æ–∑–¥–∞—ë–º –∑–∞–ø—Ä–æ—Å
query = '''
SELECT
    AVG(subq.review_count) AS average_review_count
FROM (
    SELECT COUNT(review_id) AS review_count
        FROM
            reviews
        WHERE username IN (
            SELECT
                username
            FROM ratings
            GROUP BY username
            HAVING COUNT(rating) > 50
            )
    GROUP BY username
    ) AS subq;
'''

In [32]:
# –ø–æ–ª—É—á–∞–µ–º –¥–∞–Ω–Ω—ã–µ –Ω–∞ –æ—Å–Ω–æ–≤–∞–Ω–∏–∏ –∑–∞–ø—Ä–æ—Å–∞
data = pd.io.sql.read_sql(query, con = engine)

In [33]:
# –≤—ã–≤–æ–¥–∏–º –Ω–∞ —ç–∫—Ä–∞–Ω
display(data)

   average_review_count
0             24.333333

–°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤, –Ω–∞–ø–∏—Å–∞–Ω–Ω—ã—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è–º–∏, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª–µ–µ 50 –æ—Ü–µ–Ω–æ–∫, —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 24.(3)

## –ò—Ç–æ–≥

–†–µ–∑—É–ª—å—Ç–∞—Ç—ã –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è –∑–∞–Ω–µ—Å—ë–º –≤ —Å–≤–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—Ü—É

|–¶–µ–ª—å –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è|–†–µ–∑—É–ª—å—Ç–∞—Ç|
|:-:|:-:|
|–ü–æ—Å—á–∏—Ç–∞—Ç—å, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞|819|
|–î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞—Ç—å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É|‚úÖ|
|–û–ø—Ä–µ–¥–µ–ª–∏—Ç—å –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü|Penguin Books üêß|
|–û–ø—Ä–µ–¥–µ–ª–∏—Ç—å –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥|J.K. Rowling / Mary GrandPr√©|
|–ü–æ—Å—á–∏—Ç–∞—Ç—å —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫|24.(3)|

–¢–∞–∫–∂–µ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –æ—Ç–º–µ—Ç–∏—Ç—å –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ –∑–∞–¥–∞—á –Ω–µ–ø–æ—Å—Ä–µ–¥—Å—Ç–≤–µ–Ω–Ω–æ –ø—Ä–æ–µ–∫—Ç–∞:

- [x] –í—Å–µ —Ç–∞–±–ª–∏—Ü—ã –∏–∑—É—á–µ–Ω—ã;
- [x] –≤—Å–µ –ø–æ—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã–µ –∑–∞–¥–∞—á–∏ —Ä–µ—à–µ–Ω—ã;
- [x] –¥–ª—è —Ä–µ—à–µ–Ω–∏—è –∫–∞–∂–¥–æ–π –∏–∑ –∑–∞–¥–∞—á –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω —Ä–æ–≤–Ω–æ 1 SQL-–∑–∞–ø—Ä–æ—Å;
- [x] –¥–ª—è –∫–∞–∂–¥–æ–π –∑–∞–¥–∞—á–∏ –æ–ø–∏—Å–∞–Ω –∫—Ä–∞—Ç–∫–∏–π –≤—ã–≤–æ–¥;
- [x] –±–∏–±–ª–∏–æ—Ç–µ–∫–∞ pandas –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∞ —Ç–æ–ª—å–∫–æ –¥–ª—è —Ö—Ä–∞–Ω–µ–Ω–∏—è –∏ –≤—ã–≤–æ–¥–∞ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤

–ú—ã –º–æ–ª–æ–¥—Ü—ã üéâ